* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

.home {
  display: flex; flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100vw; height: 100vh;

  //* NavBar Section 
  @import 'nav-style';

  //* TaskContainer

  //* Tasks
}

