$bg-clr: rgba(145, 129, 244, 1);
$light-bg-clr:   rgba(240, 237, 255, 0.8);
$icon-margin: 5% 2%;
$bottom-margin : 15px;
$text-center: center;
$box-radius: 3rem;


.container{
    display: flex;
    height:90vh;
    margin:2% 10%;
    border-radius: $box-radius;
    box-shadow: 0 0 .9rem rgba(0, 0, 0, 0.7);
  
}
h1{
    text-align: $text-center;
    margin: 0; margin-bottom: 0px; 
}
p{
    text-align: $text-center;
    margin-bottom: 8%;
    color:grey;
}
.leftSide{
   
    width:50%;
    height:inherit;
    border-radius: $box-radius 0 0 $box-radius;
    padding: 2%;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    
}
.login-details{

    width: 80%;
}

#btn {
    
        margin-top:8%;
        padding: 5%;
        height:35% ;
        margin-left: 33%;
        background-color: $bg-clr;
        border-radius : 15px;
        outline: none;
        border: none;
        color:white;
        font-weight: bold;
    
    

}

.user-options{
    display: flex;
    
    margin: 5px 0px; padding: 15px;
    border-radius: 3rem;
    input{
        outline: none;
        border:none;
        font-size: 14px;
        margin-left: 4px; padding: 5px;
        flex-grow: 1;
        background-color: transparent;
        caret-shape:bar;
        &::placeholder {
            color: rgba(0, 0, 0, 0.817);
        }
    }
    .icons{
   
      padding: -5px;
      margin-top: 2%;
    }
}
.user-options {
    margin-bottom: $bottom-margin;
    background-color: $light-bg-clr;
}
#password {
    background-color: $light-bg-clr;
}

.rightSide{
    width:50%;
    background-color:$bg-clr;
    // display:grid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    position: relative;
    overflow: hidden;
    
    // place-items: center;
    border-radius: 0 $box-radius $box-radius 0;
    #inner-div{
        position: relative;
        width: 75%;
        height: 80%;
        // overflow: hidden;
        background-color: #fff;
        border-radius: 10%; 
        background-color: rgba(255, 255, 255, 0.3);
        border: 1px solid white;
        p   {
            width:60%;
            height: fit-content;
            font-weight: 700;
            margin-top: 10%;
            margin-left: 2% ;
            font-size: 2.0rem;
            padding:13px;
            color:white;
            text-align: start;
            line-height: 120%;
        }
        #girl {
            height:95%;
            position: absolute;
            bottom: 0; left: 45%;
           
        }
   }
}



