$bg-clr: rgba(145, 129, 244, 1);


.blurry-background {
    position: absolute;
    z-index: 10000000;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);

}



.error-modal {
    position: relative;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 30%;
    align-items: center;
    border-left: 5px solid red; 
    border-radius: 8px;
}

.error-heading {
    display: flex;
    gap: 10px;
    font-size: 20px;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 800;
}

.error-description {
    font-size: 15px;
    margin-bottom: 10px;
    
}

#ok-button {
    padding: 5px;
    width: 100px;
    border: none;
    background-color: lightgrey;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    font-weight: 800;
}

#ok-button:hover {
    background-color: lightslategray;
    cursor: pointer;

}