// TaskForm.scss
$bg-clr: rgba(145, 129, 244, 1);

.blur-background {
  position: absolute;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  
}


.task-form {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 10px 10px 10px 10px rgba(0.1, 0.1, 0.1, 0.1);
      width: 40%;
      opacity: 100%;
      background-color: white;
      font-size: 25px;

    
    .top-header {
      display: flex;
      justify-content: space-between;

      h2 {
        margin-bottom: 30px;
        font-size: 24px;
      }

      .close-button {
        cursor: pointer;
      }
    }

  
    .form-group {
      margin-bottom: 20px;
  
      label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: bold;
        // color: white;
      }
  
      input,
      textarea,
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 4px;
        background: none;
        font-size: 16px;
        outline: none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

        &:focus {
            border: 1px solid $bg-clr;  
            // outline: 1px solid $bg-clr;
        }
      }
  
      textarea {
        height: 100px;
        resize: none;
      }
  
      select {
        appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 10px top 50%;
      }

      .error-container {
        height: 10px;
        width: fit-content;
        color: red;
        font-size: small;
      }
    }
  
    button[type="submit"] {
        background-color: $bg-clr;
        width: 100%;
        color: white;
        font-weight: 800;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease-in-out;
        &:hover {
            background-color: rgb(89, 67, 228);

        }
    }
  }

datalist {
  background-color: aqua;
}